*{
    transition: 0.1s all;
    box-sizing: border-box;
}

body{
    background-image: url("https://c.tenor.com/spQ3GXdLq2cAAAAC/yes.gif");
}

.root{
    width: 100%;
    display: flex;
    justify-content: center;
}

.corpo{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 3px solid black;
    background-color: #ffffff;
}

.forcaBotaoPalavra{
    display: flex;
    margin-bottom: 50px;
    min-width: 900px;
    margin: 20px;
}
.forcaBotaoPalavra img{
    width: 400px;
}
.botaoPalavra{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 100px;
}

.escolherPalavra{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.palavraForca{
    font-size: 45px;
    font-weight: 700;
}

.ganhou {
    color: green;
}

.perdeu {
    color: red;
}

.botoesLetras {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.habilitado, .desabilitado{
    width: 40px;
    height: 40px;
    margin: 4px 4px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.671);
}

.habilitado{
    border-radius: 5px;
    background-color: #a6f5ff9c;
    border: 1px solid #525eff98;
}

.desabilitado {
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    border: none;
}

.inputChutarPalavra input{
    margin: 0 20px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}

.inputChutarPalavra button{
    background-color: rgb(199, 255, 255);
    border: 1px solid rgb(100, 100, 255);
    border-radius: 3px;
    height: 30px;
}